* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --grey: #c6c5c5;
  --white: #ffffff;
  --header: #2da4af;
}

body {
  margin: 0 auto;
  background-color: #161316;
  max-width: 1300px;
}

body * {
  /* border: 1px solid red; */
}

.mainBannerContainer {
  margin-top: 20px;
  padding: 8px;
  position: relative;
}

.bannerImage {
  width: 100%;
  border-radius: 48px;
}

.bannerCopy {
  position: absolute;
  top: 28%;
  color: var(--grey);
  font-family: monospace;
  margin-left: 20px;
}

.banner {
  position: relative;
  margin-top: 200px;
  color: #2da4af;
}

.title {
  font-size: 48px;
}

.subtitle {
  font-size: 24px;
  margin-top: 12px;
}

.socialLinks {
  display: inline-block;
  position: absolute;
  top: 8%;
  right: 4%;
  width: 64px;
}

.socialLink {
  width: 48px;
}
@media (min-width: 900px) {
  .socialLink {
    width: 64px;
  }
}

.gitHubPosition {
  /* make these icons instead of pngs. Icons are easy to style and are a smaller filesize. */
  opacity: 85%;
  margin-bottom: 24px;
}

.linkedInPosition {
}

.mainBodyContainer {
  margin: 24px auto 0;
  padding: 8px;
  font-family: 'Courier New', Courier, monospace;
  color: var(--white);
  font-size: 16px;
}

.mainBodySection {
  margin-bottom: 36px;
  margin-right: max(3%, 20px);
  
}

.mainBodySection h1 {
  font-family: 'Courier New', Courier, monospace;
  color: var(--header);
  font-weight: 100;
  font-size: 24px;
  margin-left: max(3%, 30px);
  margin-bottom: 20px;
}

.mainBodySection p {
  margin: 12px 0;
  margin-left: max(8%, 40px);
}

.mainBodySection ul {
  margin-left: max(14%, 50px);
}

.aboutContainer {
  position: relative;
  margin-bottom: 20px;
  /* this is a hack because this div was not behaving correctly */
  border: 1px solid rgba(0, 0, 0, 0);
  height: min(500px, calc(100vh - 50%));
}

.aleksPhoto {
  position: absolute;
  z-index: 1;
  margin-left: 2%;
  max-width: 40%;
  max-height: 80%;
  opacity: 100%;
  border-radius: 50%;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

/* Default styles for the video container */
.video-container {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.video-caption {
  margin-top: 10px; /* Adjust the margin as needed to control spacing */
  text-align: center;
}

/* Media query for screens with a maximum width of 600px (typical for phones) */
@media screen and (max-width: 600px) {
  .video-container {
    width: 100%; /* Make the video container occupy the full width of the screen */
  }
}


#aboutSection {
  position: relative;
  z-index: 2;
  margin-top: 28px;
  margin-left: 36%;
  max-width: 60%;
}

.footer {
  margin: 8px;
}

#footer_font {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--grey);
  font-size: 12px;
  text-align: right;
}

a {
  color: #1d58fb;
}

a:link {
  color: #2da4af;
}

a:visited {
  color: rgba(172, 59, 39, 0.515);
}

/* 
.Nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    position: relative;
    font-family: Helvetica, sans-serif;
}

nav {
    padding: 28px 0px 0px 0px;
}
.Button {
    width: 200px;
    height: 50px;
    text-align: center;
    color: rgb(212, 211, 211);
    transition: opacity 0.25s;
    font-family: sans-serif;
    font-size: small;
    font-weight: lighter;
}

.main{
    margin: 70px 50px;
    background-color: rgb(32, 32, 32);
    height: 600px;
    width: 1025px;
}

h1, #header-name{
    color: #466995;
    font-family: 'Oswald', sans-serif;
    font-size: 42px;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
    background-color: rgb(212, 211, 211);
    padding-top: 20px;
    margin-bottom: 0;
}

h2, #header-name{
    color: #466995;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: 100;
    text-transform: lowercase;
    text-align: center;
    background-color: rgb(212, 211, 211);
    padding-top: 0px;
    padding-bottom: 20px;
    margin-top: 0;
    margin-bottom: 20px;
}

#aleks{
    margin: 45px 20px 0px 20px;
    height: 290px;
}

.description{
    text-align: justify;
    overflow: hidden;
    padding-left: 20px;
    line-height: 25px;
    font-size: 18px;
    margin-right: 3px;
    height: 300px;
    width: 680px;
}

img{
    float: left;
    width: 250px;
    height: 250px;
    border-radius: 3%;
    margin-left: 20px;
    margin-top: 0;
    box-shadow: -10px 10px 30px rgb(55, 49, 36);
    object-fit: cover;
}

p {
    font-family: Helvetica, sans-serif;
    text-align: justify;
    color: rgb(212, 211, 211);
    font-weight: lighter;
    margin: 0%;
}

a {
    color:#466995;
}
a visited{
    color:rgb(148, 140, 155)
}

.main_projects{
    margin: 20%;
    text-align: center;
} */
